/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 0px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#logo{
    width: 183px;
    margin-left: 20px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 2px;
    border-bottom: 1px dashed #a7adb3;
    margin: 20px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 210px;
    max-width: 250px;
    background: #2a3542;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
    
}

#sidebar .sidebar-header {
    padding: 10px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: #fff;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #2a3542;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/*Cotação Modal*/
.cotacaoInput{
    border-radius:10px;
    margin-bottom:10px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.dropdown-content {
    width: 100%;
    display: none;
    text-align: center;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }


    #sidebarCollapse span {
        display: none;
    }
}

/*-------------------------ITEM -------------------- */

#ContainerPesquisa{
    display:none;
    border:1px solid gainsboro;
    background:aliceblue
}

.faqDisplay dd {
    display: none;
    }
.faqDisplay2 dd2 {
    display: none;
}

#colunaPai{
    cursor:pointer;
}

.buttonItem {
    background-color: white;
    border: none;
    background-repeat: no-repeat;
    color:white;
    cursor: pointer;
    height: 26px;
    float: right;
    width: 24px;
    margin: 5px;
}

#buttonAdd{
    background-image:url("../public/img/add.ico");

}

#buttonVer{
    background-image:url("../public/img/item.ico");

}

